<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>memberWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MemberListServlet</display-name>
    <servlet-name>MemberListServlet</servlet-name>
    <servlet-class>com.keti.member.MemberListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberListServlet</servlet-name>
    <url-pattern>/memberlist.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.keti.member.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterMemberServlet</display-name>
    <servlet-name>RegisterMemberServlet</servlet-name>
    <servlet-class>com.keti.member.RegisterMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterMemberServlet</servlet-name>
    <url-pattern>/registermember.servlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.keti.member.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyServlet</display-name>
    <servlet-name>ModifyServlet</servlet-name>
    <servlet-class>com.keti.member.ModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyServlet</servlet-name>
    <url-pattern>/modify.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RealModifyServlet</display-name>
    <servlet-name>RealModifyServlet</servlet-name>
    <servlet-class>com.keti.member.RealModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RealModifyServlet</servlet-name>
    <url-pattern>/realmodify.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.keti.member.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/delete.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.keti.member.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckloginServlet</display-name>
    <servlet-name>CheckloginServlet</servlet-name>
    <servlet-class>com.keti.member.CheckloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckloginServlet</servlet-name>
    <url-pattern>/checklogin.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.keti.member.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberServlet</display-name>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.keti.member.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/member.servlet</url-pattern>
  </servlet-mapping>
</web-app>